.u-section-1 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1 .u-group-1 {
  width: 603px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 739px;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 45px;
  height: 45px;
  margin: 10px auto 0 122px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -40px auto 0;
}

.u-section-1 .u-line-1 {
  width: 559px;
  height: 3px;
  transform-origin: right center 0px;
  border-style: solid;
  margin: 8px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 8px auto 0;
}

.u-section-1 .u-image-2 {
  width: 299px;
  height: 187px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 17px auto 0 24px;
}

.u-section-1 .u-group-2 {
  min-height: 48px;
  width: 299px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 123px auto 0 24px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 16px;
}

.u-section-1 .u-text-3 {
  margin: 0 14px;
}

.u-section-1 .u-group-3 {
  width: 299px;
  min-height: 255px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -9px auto 0 24px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 3px 8px 0;
}

.u-section-1 .u-image-3 {
  width: 281px;
  height: 140px;
  margin: -424px auto 0 34px;
}

.u-section-1 .u-text-5 {
  margin: -320px 16px 0 345px;
}

.u-section-1 .u-group-4 {
  width: 458px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 739px;
  margin: -739px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 19px auto 0 156px;
}

.u-section-1 .u-line-2 {
  width: 414px;
  height: 3px;
  transform-origin: right center 0px;
  border-style: solid;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-text-7 {
  margin: 10px auto 0 119px;
}

.u-section-1 .u-form-1 {
  height: 619px;
  width: 428px;
  margin: 10px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-image-4 {
  width: 295px;
  height: 301px;
  margin: -301px 0 50px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 991px) {
  .u-section-1 .embed-responsive-1 {
    width: 213%;
    left: -52%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 284%;
    left: -92%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 98px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 116px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 88px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 452%;
    left: -176%;
  }
}